.BlizzardBlue{
	background-color: #B2E4ED;
}
.Eggshell{
	background-color: #F4ECDB;
}
.GhostWhite{
	background-color: #F9F9F9;
}
.PinkLace{
	background-color: #FFE5F7;
}		
.Lavender{
	background-color: #EDDEFD;
}
.Albaster{
	background-color: #E8F4E5;
}
.Soap{
	background-color: #CCCAE8;
}